.body {
    background-color: #f2eaeb;
    height: 100%;
    padding-top: 2%;
}

.form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    input {
    margin-bottom: 3%;
    }

}

.data {
    padding-top: 10%;
    margin-left: 15%;

    button {
        margin-right: 3%;
    }
}

.table {
    margin-top: 5%;
    margin-left: 15%;
}
